<mat-nav-list>

  <div mat-subheader>Основное</div>

  <mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>home</mat-icon>
    <span class="menu-item">Информация</span>
  </mat-list-item>

  <mat-list-item routerLinkActive="list-item-active" routerLink="/persons">
    <mat-icon>account_circle</mat-icon>
    <span class="menu-item">Физ. лица</span>
  </mat-list-item>

  <mat-list-item routerLinkActive="list-item-active" routerLink="/add">
    <mat-icon>account_balance</mat-icon>
    <span class="menu-item">Кредиты</span>
  </mat-list-item>

  <mat-list-item routerLinkActive="list-item-active" routerLink="/business-processes">
    <mat-icon>description</mat-icon>
    <span class="menu-item">Бизнес процессы</span>
  </mat-list-item>

  <mat-divider></mat-divider>
  <div mat-subheader>Скоринг</div>

  <mat-list-item routerLinkActive="list-item-active" routerLink="/scoring-models">
    <mat-icon>assignment</mat-icon>
    <span class="menu-item">Скорринговые модели</span>
  </mat-list-item>

  <mat-list-item routerLinkActive="list-item-active" routerLink="/scoring-parameters">
    <mat-icon>build</mat-icon>
    <span class="menu-item">Параметры скорринга</span>
  </mat-list-item>

  <mat-list-item routerLinkActive="list-item-active" routerLink="/phys-scoring">
    <mat-icon>markunread_mailbox</mat-icon>
    <span class="menu-item">Расчет по физ.лицам</span>
  </mat-list-item>

  <mat-divider></mat-divider>
  <div mat-subheader>Прочее</div>

  <mat-list-item routerLinkActive="list-item-active" routerLink="/program-info">
    <mat-icon>info</mat-icon>
    <span class="menu-item">О программе</span>
  </mat-list-item>

  <mat-list-item routerLinkActive="list-item-active" routerLink="/scoring-info">
    <mat-icon>question_answer</mat-icon>
    <span class="menu-item">Инструкция по работе скорринга</span>
  </mat-list-item>

</mat-nav-list>
